* {
  font-family: "hiragino sans gb", arial !important;
}
body {
  margin: 0;
  margin-bottom: 65px !important;
}
.mint-header {
  background-color: #62c47d;
}
.mint-swipe {
  height: 200px;
}
.mint-swipe img {
  height: 100%;
  width: 100%;
}
.content {
  margin-top: 40px;
}
ul li {
  list-style: none;
}
.mint-tabbar {
  position: fixed;
  z-index: 999;
}
.footer_logo {
  display: block;
  width: 200px;
  height: 55px;
  margin: 0 auto 10px;
  background-image: url(../assets/logo_ch.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;
  margin-top: 25px;
}
.mint-header.is-fixed {
  z-index: 999;
}